@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Use with => font-family: 'Poppins', sans-serif;

$reg8-12: 'Poppins', sans-serif 8px normal;
$reg10-16: 'Poppins', sans-serif 10px normal;
$reg12-16: 'Poppins', sans-serif 12px normal;
$reg14-16: 'Poppins', sans-serif 14px normal;
$reg24-32: 'Poppins', sans-serif 24px normal;


$bold8-12: 'Poppins', sans-serif 8px bold;
$bold10-16: 'Poppins', sans-serif 10px bold;
$bold12-16: 'Poppins', sans-serif 12px bold;
$bold14-16: 'Poppins', sans-serif 14px bold;
$bold24-32: 'Poppins', sans-serif 24px bold;