// Types colors

$grass: #74CB48;
$fire: #F57D31;
$water: #6493EB;
$bug: #A7B723;
$flying: #A891EC;
$electric: #F9CF30;
$ghost: #70559B;
$poison: #A43E9E;
$normal: #AAA67F;
$psy: #FB5584;
$rock: #B69E31;
$steel: #B7B9D0;
$ice: #9AD6DF;
$dark: #75574C;
$fairy: #E69EAC;
$fighting: #C12239;
$ground: #DEC16B;
$dragon: #7037FF;

// Ggrayscale

$dark-gray: #212121;
$medium-gray: #666666;
$light-gray: #E0E0E0;
$background: #F7F7F7;